.about {
  padding-bottom: 95px;
  background-image: url("../img/desktop/about-programs-watercolor-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1366px 604px;
  background-position: center 160px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/about-programs-watercolor-desktop@2x.png");
  }
}

.about__wrapper {
  margin: 0 auto;
}

.about__title {
  text-align: center;
}

.about__description {
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}

.about__video {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 870px;
}

.about__video-img {
  display: block;
  width: 100%;
}

.about__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96px;
  height: 96px;
  transform: translate(-50%, -55%);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.32;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: -1;
  }

  &::after {
    width: 65%;
    height: 65%;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after,
  &:focus::after {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active::after {
    background-color: #f4f4f4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }
}

.about__button:hover .about__video-btn,
.about__button:focus .about__video-btn {
  fill: #63d3fd;
}

.about__button:active .about__video-btn {
  fill: #1fc0fc;
}

.about__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-38%, -50%);
  fill: #1fc0fc;
}

@media (max-width: $tablet-width) {
  .about__video {
    width: calc(86% - 10px);
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-top: 27px;
    padding-bottom: 0;
    background-size: 420px 186px;
    background-position: center 227px;
    background-image: url("../img/mobile/about-programs-watercolor-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/about-programs-watercolor-mobile@2x.png");
    }
  }

  .about__description {
    width: auto;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }

  .about__video {
    width: auto;
    margin-top: 46px;
  }

  .about__button {
    width: 80px;
    height: 80px;
    transform: translate(-50%, -41%);
  }

  .about__video-btn {
    width: 13px;
    height: 16px;
  }
}
