.curator {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.curator__img {
  border-radius: 50%;
  width: 112px;
  height: 112px;
  margin-right: 20px;
}

.curator__info {
  width: 268px;
}

.curator__info p {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-left: 5px;
  line-height: 22px;
  opacity: 0.74;
}

.curator__info p span {
  color: $color-blue;
  margin-right: 5px;
}

.curator__info p + p {
  padding-left: 5px;
  font-size: 13px;
  line-height: 19px;
  opacity: 0.74;
}

@media (max-width: $tablet-width) {
  .curator {
    display: block;
    margin-bottom: 33px;
  }

  .curator__img {
    margin-bottom: 9px;
  }

  .curator__info {
    width: auto;
  }

  .curator__info p {
    padding-left: 0;
    margin-bottom: 13px;
  }

  .curator__info p + p {
    padding-left: 0;
    margin-bottom: 16px;
  }
}
