.feedback {
  position: relative;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: "";
    position: absolute;
    top: 135px;
    left: 0;
    width: 116px;
    height: 247px;
    background-image: url("../img/feedback-backpack-desktop@1x.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-backpack-desktop@2x.png");
    }
  }
}

.feedback__container {
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 129px;
  background-image: url("../img/feedback-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-bg-desktop@2x.png");
  }
}

.feedback__wrapper {
  width: 946px;
  margin: 0 auto;
  padding-top: 210px;
}

.feedback__title {
  margin-right: 50%;
}

.feedback__text {
  margin: 0;
  margin-right: 55%;
  margin-top: 23px;
  padding: 0;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;
}

.feedback__form {
  position: relative;
  display: flex;
  width: 477px;
  margin-top: 64px;
}

.feedback__form input {
  width: 477px;
  padding: 18px 240px 18px 38px;
  border-radius: 80px;
  background-color: transparent;
  outline: none;
  border: 2px solid #e3e3e3;
  font: inherit;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  opacity: 0.87;

  &:hover {
    border-color: $color-yellow;
  }

  &:focus {
    border-color: $color-black;
  }
}

.feedback__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media (max-width: $tablet-width) {
  .feedback__container {
    background-size: 70%;
    padding-bottom: 80px;
  }

  .feedback__wrapper {
    width: auto;
    padding-top: 90px;
    padding-left: 40px;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 26px;

    &::after {
      background-image: url("../img/feedback-backpack-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/feedback-backpack-mobile@2x.png");
      }
      top: 0;
      width: 86px;
      height: 180px;
    }
  }

  .feedback__container {
    min-height: 700px;
    background-image: url("../img/feedback-bg-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-bg-mobile@2x.png");
    }

    background-size: 424px 308px;
    background-position: center 312px;
  }

  .feedback__wrapper {
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .feedback__title {
    margin-right: 0;
  }

  .feedback__text {
    margin-right: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .feedback__form {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 25px;
  }

  .feedback__form input {
    width: 100%;
    margin-bottom: 8px;
    padding: 18px 40px 18px 40px;
  }

  .feedback__button {
    width: auto;
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
  }
}
