.gallery {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/desktop/gallery-watercolor-desktop@1x.png");
  background-position: center -44px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 96px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/gallery-watercolor-desktop@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 612px;
    right: 0;
    width: 97px;
    height: 148px;
    background-image: url("../img/desktop/gallery-watch-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop/gallery-watch-desktop@2x.png");
    }

    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

.gallery__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: calc(8% + 1px);
  padding-right: calc(8% + 1px);
}

.gallery__title {
  display: block;
  margin-bottom: 23px;
  text-align: center;
}

.gallery__description {
  width: 720px;
  margin: 0 auto;
  padding-right: 11px;
  font-size: 17px;
  line-height: 29px;
  text-align: right;
  opacity: 0.87;
}

.gallery__list {
  @include reset-list;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 47px;
  padding-left: calc(43% - 2px);
  padding-right: 2px;
  box-sizing: border-box;
}

.gallery__item {
  position: relative;
  margin-bottom: 22px;

  &--excursions {
    position: absolute;
    width: calc(42% - 1px);
    top: -67px;
    left: -6px;
  }

  &--stady {
    width: calc(33% - 4px);
  }

  &--skills {
    width: calc(64% - 6px);
  }

  &--creation {
    width: calc(64% - 6px);
  }

  &--development {
    width: calc(33% - 4px);
  }
}

.gallery__text {
  position: absolute;
  left: 32px;
  bottom: 40px;
  width: 80%;
  padding: 0;
  margin: 0;
  text-align: left;

  font-family: $font-raleway;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  text-shadow: $text-shadow;

  &--excursions {
    left: 40px;
    bottom: -2px;
  }

  &--stady {
    left: 24px;
  }

  &--creation {
    width: 90%;
  }

  &--development {
    left: 26px;
  }
}

.gallery__dots {
  display: none;
}

@media (max-width: $tablet-width) {
  .gallery {
    padding-bottom: 50px;

    &::before {
      top: 363px;
    }
  }

  .gallery__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .gallery__description {
    width: auto;
    text-align: center;
    padding-right: 0;
  }

  .gallery__item--excursions {
    width: calc(42% - 1px);
    top: -43px;
  }

  .gallery__item {
    margin-bottom: 7px;
  }

  .gallery__text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    background: none;

    &::before {
      content: none;
    }
  }

  .gallery__wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .gallery__description {
    padding-left: 16px;
    padding-right: 30px;
    margin-bottom: 28px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  }

  .gallery__item {
    width: auto;

    &--excursions {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .gallery__img {
    width: 100%;
  }

  .gallery__text {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    &--excursions {
      bottom: 33px;
    }
  }

  .gallery__dots {
    display: flex;
    align-items: center;
    min-height: 8px;
    justify-content: center;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    position: relative;
    bottom: 0;
  }

  .gallery__dot {

    margin-left: 4px;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: rgba($color-black, 0.2);
    outline: none;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: none;
      background-image: $gradient;
      width: 8px;
      height: 8px;
    }
  }
}
