.page-header {
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 190px;
  height: 100%;
  background-image: url("../img/desktop/header-bg-desktop@1x.jpg");
  background-color: rgba($color-black, 0.2);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/header-bg-desktop@2x.jpg");
  }

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
}

.page-header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-bottom: calc(40% - 7px);
}

.page-header__logo {
  order: 1;
  margin-top: 4px;
  margin-right: 22px;
}

.page-header__logo-img {
  width: 137px;
  height: 48px;
}

.page-header__phone {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.page-header__order {
  order: 1;
  margin-right: 5px;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  font-variant: small-caps;
  color: $color-black;
  text-decoration: none;
  border-bottom: 1px dashed $color-black;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.page-header__text {
  margin: 0;
  padding: 0;
  margin-top: auto;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #ffffff;
}

.page-header__button {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 32px;

  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/mouse-btn@1x.png");
  background-size: 17px 26px;
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 49%;
    width: 1px;
    height: 56px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 54px;
    height: 54px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }

  &:hover::after,
  &:focus::after {
    border-color: $color-yellow;
  }
}

.page-header__button-circle {
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-bottom: 130px;
  }

  .page-header__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__nav {
    margin-bottom: calc(27% - 5px);
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 605px;
    padding-bottom: 114px;
    background-image: url("../img/mobile/header-bg-mobile@1x.jpg"), linear-gradient(to bottom, #ffffff 80px, rgba($color-black, 0.2) 80px);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/header-bg-mobile@2x.jpg"), linear-gradient(to bottom, #ffffff 80px, rgba($color-black, 0.2) 80px);
    }

    background-size: cover;
    background-position: center 35px, top center;
  }

  .page-header__wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }

  .page-header__nav {
    padding-top: 23px;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 273px;
  }

  .page-header__logo {
    margin-top: 0;
    width: 120px;
    height: 42px;
    order: 0;
    margin-right: 0;
    position: absolute;
    left: 7px;
    top: 23px;
  }

  .page-header__logo-img {
    width: 120px;
    height: 42px;
  }

  .page-header__phone {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .page-header__order {
    font-size: 14px;
    line-height: 17px;
    margin-right: 0;
  }

  .page-header__text {
    font-size: 20px;
    line-height: 24px;
  }
}
