.preparation {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 162px;
  padding-bottom: 154px;
  background-image: url("../img/desktop/preparation-watercolor@1x.png");
  background-position: center -38px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/preparation-watercolor@2x.png");
  }

  &::after {
    content: "";
    position: absolute;
    top: 370px;
    right: 0;
    width: 217px;
    height: 235px;
    background-image: url("../img/desktop/preparation-stamp-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop/preparation-stamp-desktop@2x.png");
    }
  }
}

.preparation__wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 1366px;
  margin: 0 auto;
}

.preparation__img-block {
  margin-left: 12px;
  width: calc(42% + 7px);
  height: auto;
  margin-right: calc(7% - 5px);
}

.preparation__content {
  padding-top: 33px;
  width: calc(40% + 6px);
}

.preparation__content h2 {
  margin-left: 16px;
  margin-bottom: 23px;
}

.preparation__content p {
  margin-top: 0;
  margin-left: 16px;
  margin-bottom: 33px;
  padding-right: 55px;
}

.preparation__content b {
  display: block;
  margin-left: 16px;
  margin-bottom: 25px;
  padding-right: 73px;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
}

.preparation__list {
  @include reset-list;
  position: relative;
  margin-bottom: 51px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;
    width: 4px;
    height: 90%;
    background-image: url("../img/line-dashed.svg");
    background-repeat: repeat-y;
    z-index: -1;
  }
}

.preparation__item {
  display: flex;
  align-items: center;
  counter-increment: numb;
  margin-bottom: 38px;
  min-height: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: counter(numb) "";
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    font: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
}

.preparation__item p {
  margin: 0;
  line-height: 21px;
  opacity: 0.87;
  padding-left: 24px;
}

.preparation__content span {
  position: relative;
  display: block;
  margin-left: 14px;
  padding-left: 18px;
  line-height: 21px;
  opacity: 0.5;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-image: $gradient;
  }
}

@media (max-width: $tablet-width) {
  .preparation {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  .preparation__img-block {
    width: calc(39% + 7px);
    margin-right: 2%;
  }

  .preparation__content {
    width: calc(53% + 6px);
  }

  .preparation__item {
    margin-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .preparation {
    padding-top: 0;
    padding-bottom: 82px;
    background: none;

    &::after {
      top: 276px;
      background-image: url("../img/mobile/preparation-stamp-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mobile/preparation-stamp-mobile@2x.png");
      }
    }
  }

  .preparation__img-block {
    display: none;
  }

  .preparation__list {
    margin-bottom: 25px;
  }

  .preparation__content {
    width: auto;
    padding: 0;
    padding-left: 8px;
    padding-right: 16px;
  }

  .preparation__content h2 {
    margin-left: 8px;
    margin-bottom: 27px;
    text-align: center;
  }

  .preparation__content p {
    margin-left: 8px;
    margin-bottom: 24px;
    padding-right: 0;
    font-size: 14px;
    line-height: 22px;
  }

  .preparation__content b {
    margin-bottom: 10px;
    margin-left: 8px;
    padding-right: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .preparation__item {
    margin-bottom: 26px;
    min-height: 66px;
  }

  .preparation__item p {
    padding-left: 8px;
    margin-bottom: 0;
  }

  .preparation__content span {
    margin-left: 2px;
    padding-left: 14px;
    font-size: 14px;
    line-height: 22px;

    &::before {
      width: 4px;
    }
  }
}
