.programs {
  background-image: url("../img/programs-сity-desktop.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 680px 426px;
  padding-bottom: 10px;
}

.programs__wrapper {
  width: 946px;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 48px;
}

.programs__heading {
  margin: 0;
  padding: 0;
}

.programs__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 94px;
  margin-top: 68px;
}

@media (max-width: $tablet-width) {
  .programs__wrapper {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .programs__columns {
    padding-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .programs {
    background-image: url("../img/programs-сity-mobile.png");
    padding-bottom: 30px;
    background-position: right 165px;
    background-size: 296px 201px;
  }

  .programs__wrapper {
    margin-top: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .programs__columns {
    flex-direction: column;
    margin-top: 17px;
  }

  .programs__heading {
    text-align: center;
  }

  .programs__controls {
    display: flex;
    flex-direction: row;
  }
}
