.programs {
  background-image: url("../../img/programs-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 680px 426px;
  padding-bottom: 10px;
}

.programs__wrapper {
  width: 946px;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 48px;
}

.programs__heading {
  margin: 0;
  padding: 0;
}

.programs__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 94px;
  margin-top: 68px;
}
