.questions {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: calc(9% - 3px);
  background-image: url("../img/questions-watercolor.png");
  background-position: center 57px;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 177px;
    left: 0;
    top: 864px;
    background-image: url("../img/questions-bag-desktop.png");
    background-repeat: no-repeat;
  }
}

.questions__wrapper {
  padding-left: calc(8% + 1px);

  display: flex;
  justify-content: space-between;
}

.questions__img-block {
  width: calc(52% - 8px);
}

.questions__cotent {
  width: calc(45% - 5px);
}

.questions__title {
  margin-bottom: 33px;
}

.questions__list {
  @include reset-list;
}

.questions__item {
  position: relative;
  min-height: 72px;
  padding-top: 14px;
  padding-bottom: 24px;
  padding-right: 80px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba($color-black, 0.2);
  counter-increment: numb;

  &::after {
    content: counter(numb) "";
    position: absolute;
    left: 0;
    top: 22px;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-50%);
  }
}

.questions__heading {
  margin: 0;
  padding: 0;
  padding-left: 29px;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}

.questions__text {
  display: none;
  margin: 0;
  margin-top: 26px;
  line-height: 21px;
  opacity: 0.74;
}

.questions__item--active {
  padding-bottom: 32px;
}

.questions__item--active .questions__text {
  display: block;
}

.questions__item--active .questions__button {
  transform: rotate(180deg);
}

.questions__button {
  position: absolute;
  right: 30px;
  top: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .questions {
    padding-top: 8%;
    padding-bottom: calc(7% - 3px);
  }

  .questions__wrapper {
    padding-left: calc(5% + 1px);
  }

  .questions__cotent {
    width: calc(56% - 5px);
  }

  .questions__img-block {
    width: calc(43% - 8px);
  }
}

@media (max-width: $mobile-width) {
  .questions {
    padding-top: 51px;
    padding-bottom: 57px;
    background: none;

    &::before {
      top: 710px;
      background-image: url("../img/questions-bag-mobile.png");
    }
  }

  .questions__title {
    margin-bottom: 24px;
  }

  .questions__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .questions__img-block {
    display: none;
  }

  .questions__cotent {
    width: auto;
  }

  .questions__item {
    padding-right: 28px;
    min-height: 64px;
    padding-bottom: 16px;

    &::after {
      top: 23px;
    }
  }

  .questions__button {
    right: 0;
    padding: 0;
    top: 21px;
  }

  .questions__heading {
    padding-left: 25px;
    font-size: 16px;
    line-height: 26px;
  }

  .questions__text {
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
  }
}
