.questions {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 136px;
  padding-bottom: 120px;
  background-image: url("../img/desktop/questions-watercolor-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/questions-watercolor-desktop@2x.png");
  }

  background-size: contain;
  background-position: left 57px;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 177px;
    left: 0;
    top: 864px;
    background-image: url("../img/desktop/questions-bag-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop/questions-bag-desktop@2x.png");
    }

    background-size: contain;
    background-repeat: no-repeat;
  }
}

.questions__wrapper {
  padding-left: calc(8% + 1px);

  display: flex;
  justify-content: space-between;
}

.questions__img-block {
  width: calc(52% - 8px);
}

.questions__cotent {
  width: calc(45% - 5px);
}

.questions__title {
  margin-bottom: 33px;
}

.questions__list {
  @include reset-list;
}

.questions__item {
  position: relative;
  min-height: 72px;
  padding-top: 14px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba($color-black, 0.2);
  counter-increment: numb;
  outline: none;

  &:hover .questions__heading,
  &:focus .questions__heading {
    color: rgba($color-black, 0.5);
  }

  &:active .questions__heading {
    color: $color-black;
  }

  &::after {
    content: counter(numb) "";
    position: absolute;
    left: 0;
    top: 22px;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color: $color-yellow;
    transform: translateY(-50%);
  }

  &--active {
    padding-bottom: 32px;
  }
}

.questions__heading {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 75px;
  font: inherit;
  text-align: left;
  padding-left: 29px;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 37px;
    width: 17px;
    height: 11px;
    background-image: url("../img/icon-arrow-blue.svg");
    background-repeat: no-repeat;
  }
}

.questions__item--active .questions__heading::after {
  transform: rotate(180deg);
}

.questions__text {
  display: none;
  margin: 0;
  margin-top: 26px;
  padding-right: 70px;
  line-height: 21px;
  opacity: 0.74;
}

.questions__item--active .questions__text {
  display: block;
}

@media (max-width: $tablet-width) {
  .questions {
    padding-top: 8%;
    padding-bottom: calc(7% - 3px);
  }

  .questions__wrapper {
    padding-left: calc(5% + 1px);
  }

  .questions__cotent {
    width: calc(56% - 5px);
  }

  .questions__img-block {
    width: calc(43% - 8px);
  }
}

@media (max-width: $mobile-width) {
  .questions {
    padding-top: 51px;
    padding-bottom: 57px;
    background: none;

    &::before {
      top: 710px;
      background-image: url("../img/mobile/questions-bag-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/mobile/questions-bag-mobile@2x.png");
      }
    }
  }

  .questions__title {
    margin-bottom: 24px;
  }

  .questions__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .questions__img-block {
    display: none;
  }

  .questions__cotent {
    width: auto;
  }

  .questions__item {
    min-height: 64px;
    padding-bottom: 16px;

    &::after {
      top: 23px;
    }
  }

  .questions__button {
    right: 0;
    padding: 0;
    top: 21px;
  }

  .questions__heading {
    padding-left: 25px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 26px;

    &::after {
      right: 0;
    }
  }

  .questions__text {
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
    padding-right: 0;
  }
}
