.reviews {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/reviews-watercolor-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right 20px;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/reviews-watercolor-desktop@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    width: 524px;
    height: 318px;
    top: 56px;
    right: 0;
    background-image: url("../img/reviews-sketch-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/reviews-sketch-desktop@2x.png");
    }
  }
}

.reviews__wrapper {
  position: relative;
  margin-left: calc(8% - 11px);
  margin-right: calc(8% - 11px);
  padding-bottom: 38px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 8px;
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.reviews__photo-block {
  margin-right: 40px;
  width: calc(31% + 2px);
  height: auto;
}

.reviews__content {
  width: calc(58% + 2px);
  margin-top: 40px;
}

.reviews__content h4 {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.74;
}

.reviews__content h4 + p {
  font-size: 15px;
  margin: 0;
  line-height: 21px;
  opacity: 0.74;
  margin-bottom: 31px;
}

.reviews__content p span {
  margin-right: 6px;
  color: $color-blue;
}

.reviews__content p {
  margin: 0;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.74;
}

.reviews__content a {
  font: inherit;
  font-size: 17px;
  line-height: 25px;
  color: $color-blue;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.reviews__social {
  justify-content: flex-end;
  margin-top: 55px;
}

.reviews__controls {
  position: absolute;
  left: calc(37% - 4px);
  width: 103px;
  display: flex;
  justify-content: space-between;
  bottom: 46px;
  z-index: 10;
}

.reviews__pagination {
  position: static;
  font-size: 17px;
  line-height: 25px;
  opacity: 0.5;
}

.reviews__btn-block {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.reviews__btn {
  position: relative;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 21px;
  padding: 0;
  cursor: pointer;
  outline: none;
  opacity: 0.2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 13px;
    background-color: $color-black;
    transform: rotate(45deg);
    top: 0;
  }

  &::after {
    transform: rotate(-45deg);
    top: 8px;
  }

  &:hover,
  &:focus {
    opacity: 0.9;
    transition: opacity 0.2s linear;
  }

  &--next {
    transform: rotate(180deg);
  }
}

@media (max-width: $tablet-width) {
  .reviews__wrapper {
    position: relative;
    margin-left: calc(6% - 9px);
    margin-right: calc(6% - 9px);
  }

  .reviews__item {
    align-items: flex-start;
  }

  .reviews__photo-block {
    margin-right: 5px;
  }

  .reviews__content {
    width: calc(66% + 2px);
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    background-image: url("../img/reviews-watercolor-mobile@1x.png");
    background-position: right 700px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/reviews-watercolor-mobile@2x.png");
    }

    &::before {
      width: 288px;
      height: 261px;
      top: 525px;
      background-image: url("../img/reviews-sketch-mobile@1x.png");
      background-position: center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/reviews-sketch-mobile@2x.png");
      }
    }
  }

  .reviews__wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__item {
    display: block;
  }

  .reviews__photo-block {
    width: 240px;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__content {
    width: auto;
    margin-top: 50px;
  }

  .reviews__content span {
    display: block;
  }

  .reviews__content h4 + p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .reviews__content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  .reviews__content a {
    font-size: 16px;
    line-height: 24px;
  }

  .reviews__controls {
    position: absolute;
    top: 392px;
    margin: 0;
    left: 50%;
    transform: translateX(-53%);
    bottom: auto;
    width: 120px;
  }
}
