.social {
  @include reset-list;
  display: flex;

  &--reviews {
    margin-top: 55px;
  }
}

.social__item {
  margin-left: 16px;

  &--curator {
    margin-left: 0;
    margin-right: 12px;
  }

  &--page-footer {
    margin-left: 20px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: red;
  fill: rgba(#000000, 0.16);

  &:hover .social__icon,
  &:focus .social__icon {
    fill: $color-blue;
    fill-opacity: 1;
    transition: fill 0.2s linear;
  }
}

@media (max-width: $mobile-width) {
  .social {
    &--reviews {
      justify-content: flex-start;
      margin-left: -5px;
      margin-top: 20px;
    }
  }

  .social__item {
    &--reviews {
      margin-right: 16px;
      margin-left: 0;
    }

    &--curator {
      margin-right: 10px;
    }

    &--page-footer {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}
