.view {
  width: 1366px;
  margin: 0 auto;
  min-height: 615px;
  padding-top: 154px;
  padding-bottom: 195px;
  background-image: url("../../img/view-bg-desktop@1x.png");
  background-position: 5px 34px;
  background-repeat: no-repeat;
}

.view__wrapper {
  margin-left: calc(59% - 10px);
  width: 402px;
}

.view__title {
  margin-bottom: 25px;
}

.view__description {
  margin: 0;
  margin-bottom: 48px;
  padding-left: 4px;
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  opacity: 0.87;
  text-shadow: $text-shadow;
}

.view__button {
  position: relative;
  padding-left: 72px;
  text-decoration: none;
}

.view__icon {
  position: absolute;
  left: 41px;
  top: 17px;
  fill: #ffffff;
}
