*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  font-family: $font-main;
  color: $color-black;
}

img {
  max-width: 100%;
  height: auto;
}
