$color-black: #484848;
$color-blue: #1fc0fc;
$color-yellow: #ffc341;
$color-darkyellow: #ffd701;
$gradient: linear-gradient(108.42deg, $color-yellow 20.46%, $color-darkyellow 65.31%);
$text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

//Шрифты
$font-main: "Fira Sans", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;
$font-montserrat: "Montserrat", "Arial", sans-serif;
